@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lexend:wght@100..900&display=swap');


:root {
--wd-title-font: "Lexend", Arial, Helvetica, sans-serif;
--wd-title-font-weight: 500;
--wd-title-color: #242424;
--wd-text-font: "Cabin", Arial, Helvetica, sans-serif;
--wd-text-font-weight: 400;
--wd-text-color: #777777;
--wd-text-font-size: 16px;
--wd-entities-title-font: "Lexend", Arial, Helvetica, sans-serif;
--wd-entities-title-font-weight: 400;
--wd-entities-title-color: #333333;
}


a {
    text-decoration: none;
}

.carousel {
     margin-top: -83px;
}
.carousel-caption {
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
}
.img-slider {
    min-height: 720px;
}
.carousel-caption h5 {
    font-size: 64px;
    font-family: var(--wd-title-font);
}
.carousel-caption p {
    font-size: 16px;
    font-family: var(--wd-text-font);
    color: #ffffff99;
    padding-top: 10px;
}
.carousel-indicators {
    width: 70px;
    border-radius: 50px;
    left: 30%;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
}
.carousel-control-next, .carousel-control-prev {
    width: 4%;
}
.product-menu-one {
    padding: 40px 15px;
}
.product-menu-one h1 {
    margin-bottom: 40px;
}

.grow-circle {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.title-one h1 {
    font-family: var(--wd-title-font);
    color: #333333 !important;
    font-size: 18px;
}
.product-type p {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
    color: #ffffff;
}
.title-one {
    border-radius: 50px;
    width: max-content;
    padding: 5px 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}
.img-one {
    transition: .3s;
}
.grow-circle:hover .img-one {
    transform: scale(1.1);
}
.grow-circle:hover .title-one {
    top: 45%;
    transition: .3s;
    cursor: pointer;
}
.grow-circle:hover .product-type p  {
    top: 60%;
    transition: .3s;
   opacity: 1;
}
.feature-title-main p {
    font-family: var(--wd-text-font) !important;
    font-size: 16px !important;
    color: #2247cc !important;
    padding-top: 40px;
}
.feature-title-main h1 {
    font-family: var(--wd-title-font) !important;
    font-size: 32px !important;
    padding-bottom: 20px;
}

.feature-img-one {
    transition: 0.3s;
}
.feature-img-two{
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    opacity: 0;
}
.feature-img-one:hover {
    transform: scale(1.1);
}
.feature-img:hover .feature-img-two, .organic-img:hover .feature-img-two, .organic-img-one:hover .feature-img-two, .popular-hot:hover .feature-img-two, .popular:hover .feature-img-two {
    opacity: 1;
    transform: scale(1.1);
}
.feature-img {
    border-radius: 10px;
}

.feature-img::after, .popular-new::after {
    content: "NEW";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    font-family: var(--wd-text-font);
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #ABBA81;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-icon i{
    color: #000000 !important;
    font-size: 18px;
}
.feature-icon {
    padding: 10px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: -23%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: 1s;
}
.feature-box-img:hover .feature-icon {
    bottom: 2%;
}
.select-btn {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid rgb(194, 189, 189);
}
.feature-title h1 {
    color: #333333 !important;
    font-size: 16px !important;
    font-family: var(--wd-title-font);
}
.feature-price h2 {
    color: #2247CC !important;
    font-family: var(--wd-text-font);
    font-size: 16px !important;
}
.rounded {
    border-radius: 20px !important;
}
.banner-two {
    padding: 40px;
    background-color: #f7f3f0;
    border-radius: 20px;
}
.organic-title {
    padding-bottom: 40px;
}
.organic-title p, .organic-discount p {
    font-size: 18px;
    font-family: var(--wd-text-font);
    color: #2247CC !important;
}
.organic-title h1 {
    font-size: 46px;
    font-family: var(--wd-title-font);
    color: var(--wd-title-color) !important;
}
.organic-img::after {
    content: "HOT";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    font-family: var(--wd-text-font);
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #e3a08b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-hot::after {
    content: "HOT";
    position: absolute;
    top: 35px;
    left: 10px;
    font-size: 12px;
    font-family: var(--wd-text-font);
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #e3a08b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-discount::after {
    content: "-25%";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    font-family: var(--wd-text-font);
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #7ea4de;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bundle-btn {
    background-color: #2247CC;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 13px !important;
    font-family: var(--wd-text-font);
}
.organic-discount p {
    font-size: 13px;
    font-family: var(--wd-text-font);
}
.organic-discount {
    padding-top: 20px;
}
.slider-two .carousel-control-prev-icon, .slider-two .carousel-control-next-icon {
    filter: invert(0%) sepia(86%) saturate(7443%) hue-rotate(272deg) brightness(0) contrast(89%);
    position: absolute;
    top: 35%;
}
.slider-two .carousel-control-prev-icon{
    left: -10px;
}
.slider-two .carousel-control-next-icon{
    right: -10px;
}
.product-menu {
    padding: 60px 0;
}
.card-title {
    color: #333333 !important;
    line-height: 28px;
    font-family: var(--wd-title-font);
}
.card-body {
    padding: 25px !important;
    box-shadow: 0 0 4px rgba(0,0,0,.12) !important;

    border-radius: 0 0 8px 8px;
}
.card-text {
    height: 60px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #777777 !important;
    font-weight: 600;
}
.card-box-two-text {
    padding: 10px 0;
}
.card-box-two-text p, i {
    color: #bbbbbb !important;
    font-size: 14px !important;
    font-family: var(--wd-text-font);
    margin: 0 !important;
}
.card-box-two-text img {
    width: 18px; height: 18px !important;
    border-radius: 50px;
}
.message-box::after {
    content: "0";
    position: absolute;
    top: -7px;
    right: -7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 9px;
    font-family: var(--wd-text-font);
    background-color: #bbbbbb;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-top {
    transition: 0.5s;
}
.card:hover .card-img-top {
    transform: scale(1.1);
}
.more-action {
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 35px !important;
    transition: 0.3s;
    opacity: 0;
}
.card:hover .more-action {
    left: 50%;
    opacity: 1;
    z-index: 1;
}
.date {
    width: 53px !important;
    box-shadow: 0 0 9px rgba(0,0,0,.1);
    border-radius: 10px;
    padding: 5px;
    top: 10px;
    left: 10px;  
}
.date h6 {
    font-size: 24px;
}
.date p, .blue-box p {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}
.date h6, .date p {
    color: #333333 !important;
    margin: 0 !important;
    font-family: var(--wd-text-font);
}
.blue-box {
    width: max-content;
    background-color: #2247cc;
    padding: 5px 8px;
    border-radius: 10px;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.card {
    padding: 0;
    border-radius: 15px;
}
.more-link {
    margin: 0;
    padding-top: 20px
}
.article-section, .instagram-box {
    padding: 40px;
}
.insta-img {
    border-radius: 18px;
    padding: 0;
}
.overlap::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .4);
   
    opacity: 0;
    transition: all .3s ease;
}
.insta-img:hover .overlap::after, .card:hover .overlap::after {
    opacity: 1;
}
.insta-img:hover .like-box {
    bottom: 0px;
    background: linear-gradient(transparent 0%,rgba(0,0,0,.65) 100%);
    height: 65px;
}
.like-box {
    padding: 0 20px;
    bottom: -30px;
    left: 0; 
    transition: 0.5s;
    z-index: 20;
}
.like-box i, .like-box p {
    font-size: 20px !important;
}




@media (max-width:1440px) {
     
}

@media (max-width:1299px) {  
}

@media (max-width:1024px) {
    
    .product-menu {
        overflow-x: scroll;
        width: 1440px;
    } 
}

@media (max-width:992px) {
    
    .carousel-caption {
        left: 80%;
        top: 60%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .carousel-caption h5 {
        font-size: 38px;
    }
    
    
    .instagram-box, .article-section {
        padding: 20px;
    }
    .organic-title h1 {
        font-size: 30px;
    }
    
}

@media (max-width:768px) {
    .carousel-inner .carousel-item > div {
        display: block !important;
    }
    .carousel-caption {
        left: 65%;
    }
    .footer-main {
        padding-bottom: 60px;
    }
}

@media (max-width:576px) {
    .list-data {
        gap: 0 !important;
    }
    .carousel-caption h5 {
        font-size: 30px;
    }
    .carousel-caption {
        left: 52%;
        top: 50%;
        width: 300px;
    }
    .img-slider {
        min-height: 550px;
    }

}













@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

